.hero
	.container 
		%h1 Knock Knock
		%p With DoorTag, you can answer people at your office, house, and superhero-hide out. All at the same time.
		%button.btn.btn-primary Learn More!

.steps
	.stepsShoutOut
		%h1 How DoorTags works
	.container
		.stepOne
			%h2 Set up tag and location
			%p Set up your tag and customize their location name online with whatever you like. "Das Baus Haus," "Tony's crib," and "The Batcave" are all acceptable location names.
		.benefitTwo 
			%h2 Get notified
			%p When someone taps their smartphone against the NFC tag, we send you a message with where the person is and their message. 
		.benefitThree
			%h2 Stay number anonymous
			%p We understand the importance of privacy. People do not get your number when they contact you, but they have the option of sending you their number, so you can contact them back.

.benefitOne 
	%h2 Set up as many tags as you want.
	%p The amount of locations you can set up is only limited by the the number of NFC tags you have. Customize each tag with an random name. 
.benefitTwo
	%h2 Notifications around the world. 
	%p Whether your out for a run or fighting the good fight halfway across the world, we will send you a text that someone is at your door. DoorTag will send you a text message when someone is at your door in over 150 countries.
.benefitThree 
	%h2 Know where the person is and reply instantly 
	%p Give a quick text back to whoever is at your door. We will tell you the location and give you their number, so you can quickly respond, or you can run down the stairs and open the door!

.signup
	.container
		.span3 
			=link_to "Sign Up Now!", "#", class: "btn btn-primary"






