/* header */ 
header {
	background-color: white; 
	width: auto; 
	height: 60px; 

	h1 {
		size: 24.444;
		font-weight: bold; 
		font-family: 'Oswald', sans-serif;
		float: left; 
		margin-left: 1em; 
	}

	nav {

		float: right;
		margin-top: 1.7em; 
		margin-right: 7em; 

			ul {

			 li {
				list-style: none; 
				display: inline; 
				margin-right: 2em;

					a {

						font-size: 18px;

						&:hover {
							text-decoration: none;
						}

					}
			 }
			
		}

	}
}



/* home */ 

.hero {
	background: #ffffff url("front-door2.JPG") no-repeat; 
	background-position: 0 -200px;
	width: 100%; 
	height: 700px; 

			button {
				border-radius: 0;
				font-size: 20px;
				height: 50px;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				float: left;
				display: inline;
			}

			h1 {
				font-family: 'Raleway';
				color: white;
				font-size: 100px;
				text-align: center; 
				margin-top: 1em;

					#inlineBlock {
					display: inline-block;
					background-color: rgba(0,0,0,0.5);
					padding: 0.3em;
					letter-spacing: 5px;
				}
			}

			p {
				margin-top: 1em;
				font-size: 20px;
				color: white;
				text-align: center; 
				background-color: rgba(0,0,0,0.5);
					padding: 0.3em;
					letter-spacing: 5px;

			}
}

.steps {
	height: 600px;


	.stepsShoutOut {
		height: 100px;

		h1 {
			font-weight: bold;
			text-align: center;
			font-size: 50px;
			border-bottom: solid 2px black;
			padding-bottom: 10px;
		}

	}

}
