/* header */ 
header {
	background-color: white; 
	width: auto; 
	height: 60px; 
	border-bottom: 1px solid black;

	a {
		color: black;
	}
	h1 {
		size: 24.444;
		font-weight: bold; 
		font-family: 'Oswald', sans-serif;
		float: left; 
		margin-left: 1em; 
		font-color: black;
		opacity: 0.5;

			&:hover{
				opacity: 1;
			}
	}


	nav {

		float: right;
		margin-top: 1.7em; 
		margin-right: 7em; 

			ul {

			 li {
				list-style: none; 
				display: inline; 
				margin-right: 2em;

					a {

						font-size: 18px;

						&:hover {
							text-decoration: none;
						}

					}
			 }
			
		}

	}
}

/* New User Page and Sign In */ 

.newUser {
	text-align: center;
}

.signIn {
	text-align: center;
}

.newTag {
	text-align: center;
}


/* Profile Page */ 

.profileContainer {
	text-align: center;
	height: 80%;
	box-shadow: 0 0 20px 2px black;

	h1 {
		font-family: 'Raleway';
		font-size: 70px;
		padding-top: 0.5em;
	}

	table {
		margin-top: 2em;
		margin-left: 15%;
		width: 700px;
		padding: 0.5em;
		height: 30px;

		tr {
			height: 50px ;
		}

		td {
			border-top: 1px solid black;
		}
	}

	.newTagForm {
		margin-top: 2em;
	}

}



/* home */ 

.hero {
	background: #ffffff url("front-door2.JPG") no-repeat center center fixed; 
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 0 -200px;
	width: 100%; 
	height: 700px; 

			button {
				border-radius: 0;
				font-size: 20px;
				height: 50px;
				margin-left: 45%;
				margin-top: 1em;
			}

			h1 {
				font-family: 'Raleway';
				color: white;
				font-size: 100px;
				text-align: center; 
				margin-top: 1em;

					#inlineBlock {
					display: inline-block;
					background-color: rgba(0,0,0,0.5);
					padding: 0.3em;
					letter-spacing: 5px;
				}
			}

			p {
				margin-top: 1em;
				font-size: 20px;
				color: white;
				text-align: center; 
				background-color: rgba(0,0,0,0.5);
				padding: 0.3em;
				line-height: 1.3em;
			}
}

.steps {
	margin-top: 2em;
	height: 400px;

	.stepsShoutOut {
		height: 100px;

		h1 {
			font-weight: bold;
			text-align: center;
			font-size: 50px;
			border-bottom: solid 1px black;
			padding-bottom: 0.5em;
		}

	}

	.span4.noLeft{
		margin-left: 0;
	}

		p.pushDown {
			margin-top: 3.6em;
		}

}


.benefitOne {
	padding-top: 3em;
	height: 220px;
	border-top: 1px solid black;

	h2 {
		float: left;
		width: 600px;
		font-size:40px;
		

		b {
			font-family: 'Raleway';
			font-size: 60px;
		}
	}

	p {
		float: left;
		font-size: 20px;
		width: 500px;
	}

	img {
		margin-top: 1em;
		width: 120px;
	}
}

.benefitTwo {
	padding-top: 4em;
	height: 220px;
	border-top: 1px solid black;

	h2 {
		float: right;
		width: 600px;
		font-size: 40px;

		b {
			font-family: 'Raleway';
			font-size: 60px
		}
	}

	p {
		float: right;
		margin-right: 5em;
		font-size: 20px;
		width: 500px;
	}

	img {
		margin-top: 1em;
		width: 120px;
	}
}

.benefitThree {
	padding-top: 3em;
	height: 220px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;

	h2 {
		float: left;
		width: 600px;
		font-size: 40px;

		b {
			font-family: 'Raleway';
			font-size: 60px;
		}
	}

	p {
		float: left;
		font-size: 20px;
		width: 500px;
	}

	img {
		margin-top: 1em;
		width: 120px;
	}
}

.signUp {
	height: 150px;

	h2 {
		text-align: center;
	}

	a {
		font-size: 20px;
	}

	.btn {
		margin-left: 43%;
		border-radius: 0;
		height: 30px;
	}
}

